# deps
node_modules
.pnp
.pnp.js

# next
.next
out
build

# misc
.DS_Store
*.pem
Doc8.docx

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env
.env*.local

# db
prisma/dev.db
prisma/dev.db-journal

# typescript
*.tsbuildinfo
next-env.d.ts
